---
# Setup/install tasks.
- name: Pour Redhat
  ansible.builtin.include_tasks:
    file: setup-RedHat.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora'

- name: Pour Fedora
  ansible.builtin.include_tasks:
    file: setup-Fedora.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora'

- name: Pour Debian
  ansible.builtin.include_tasks:
    file: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Pour Archlinux
  ansible.builtin.include_tasks:
   file: setup-Archlinux.yml
  when: ansible_os_family == 'Archlinux'
