---
- name: Installer git et vim
  community.general.pacman:
    name:
      - git
      - vim
      - curl
      - bind-utils
      - nmap
      - tcpdump
      - lsof
      - iotop
      - htop
      - sysstat
      - wget
      - iptraf
    state: present
