---
- name: "== Setup RedHat == Ensure EPEL packages are installed."
  ansible.builtin.dnf:
    name:
      - epel-release
      - git
      - bind-utils
      - nmap
      - tcpdump
      - lsof
      - iotop
      - sysstat
      - wget
      - iptraf
    state: present
- name: "== Setup RedHat == Déinstaller curl-minimal et bug sur rockylinux:9 pour le remplacer par curl"
  ansible.builtin.dnf:
    name:
      - curl-minimal
      - vim-enhanced
    state: absent
- name: "== Setup RedHat == Installer curl et htop avec epel"
  ansible.builtin.dnf:
    name:
      - curl
      - vim
      - htop
    state: present

## ==================================================================
# Upgrade all packages
- name: "== Setup RedHat == Upgrade all packages"
  ansible.builtin.dnf:
    name: '*'
    state: latest
    update_only: true
- name: "== Setup RedHat == Install a list of packages no present"
  ansible.builtin.dnf:
    name: "{{ packages }}"
    state: absent
  vars:
    packages:
      - java-1.8.0-openjdk-headless
      - java-1.8.0-openjdk-devel
      - java-1.8.0-openjdk
      - java-11-openjdk-headless
      - java-11-openjdk-devel
      - java-11-openjdk
      - java-17-openjdk-headless
      - java-17-openjdk-devel
      - java-17-openjdk
      - java-21-openjdk-headless
      - java-21-openjdk-devel
      - java-21-openjdk
- name: "== Setup RedHat == Install a list of packages with a list variable"
  ansible.builtin.dnf:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - sshpass
      - bash-completion
      - ca-certificates
      - unzip
      - curl

## Keep facts to stop firewall to down
- name: "== Setup RedHat == Recupération du service facts"
  ansible.builtin.service_facts:
- name: "== Setup RedHat == Stop service firewalld, if started"
  ansible.builtin.service:
    name: firewalld
    state: stopped
    enabled: false
  when: ansible_facts.services['firewalld.service'] is defined

# User admin
# sudo bash -c "printf '%s\n%s\n' 'hadoop' 'hadoop' | passwd hadoop"
# printf '%s\n' "hadoop" | mkpasswd -s --method=sha-512
# ansible hadoop --become --module-name raw --args "printf '%s\n%s\n' 'hadoop' 'hadoop' | passwd hadoop"
- name: "== Setup user in RedHat == Adding users"
  ansible.builtin.user:
    name: "{{ ansible_role_develop_conf_adminuser }}"
    shell: "/bin/bash"
    password: "{{ ansible_role_develop_conf_adminuser | password_hash('sha512') }}" # NE FONCTIONNE PAS CAR PAS DE passlib
    update_password: on_create
    # echo $(mkpasswd --method=sha-512 'demo')
    # password: "$6$DkvtO7X1xjcHZ0LH$.1n5ahdjK1gZ8z7H6K0q6l9LU3Qte7CLpk9CVOTfpgdHq0M/o5aSyMlyXi49GPfzhQV2sEC0x2ald97o06UvW1"
    groups: "wheel"
    append: true
- name: "== Setup user in RedHat == Sudoers nopassword for {{ ansible_role_develop_conf_adminuser }}"
  ansible.builtin.template:
    src: "sudoersd.j2"
    dest: /etc/sudoers.d/{{ ansible_role_develop_conf_adminuser }}
    owner: root
    group: root
    mode: '0644'
- name: "== Setup user in RedHat == Create a directory if it does not exist ~/.ssh"
  ansible.builtin.file:
    path: "/home/{{ ansible_role_develop_conf_adminuser }}/.ssh"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    group: "{{ ansible_role_develop_conf_adminuser }}"
    state: directory
    mode: '0700'
- name: "== Setup user in RedHat == Copy id_ed25519"
  ansible.builtin.copy:
    src: "{{ role_path }}/files/id_ed25519"
    dest: "/home/{{ ansible_role_develop_conf_adminuser }}/.ssh/id_ed25519"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    group: "{{ ansible_role_develop_conf_adminuser }}"
    mode: '0600'
- name: "== Setup user in RedHat == Copy id_ed25519.pub"
  ansible.builtin.template:
    src: "id_ed25519.pub.j2"
    dest: "/home/{{ ansible_role_develop_conf_adminuser }}/.ssh/id_ed25519.pub"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    group: "{{ ansible_role_develop_conf_adminuser }}"
    mode: '0600'
#  grep -q --no-messages "AAaAAC3NzaC1lZDI1NTE5AAAAIOLy67TsKpWE" /home/vagrant/.ssh/authorized_keys
#  && echo "Deja present dans /home/vagrant/.ssh/authorized_keys"
#    || bash -c 'echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOLy67TsKpWE/PWY7sGt12L/Oh+wSmfpux/QmHdL198w vagrant@node0"
#  >> /home/vagrant/.ssh/authorized_keys'
- name: "== Setup user in RedHat == Ensure file exists ~/.ssh/authorized_keys"
  ansible.builtin.copy:
    content: ""
    dest: "/home/{{ ansible_role_develop_conf_adminuser }}/.ssh/authorized_keys"
    force: false
    group: "{{ ansible_role_develop_conf_adminuser }}"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    mode: '0600'
- name: "== Setup user in RedHat == Add id_ed25519 in ~/.ssh/authorized_keys"
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_role_develop_conf_adminuser }}/.ssh/authorized_keys"
    regexp: '^ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOLy67TsKpWE/PWY7sGt12L/Oh+wSmfpux/QmHdL198w {{ ansible_role_develop_conf_adminuser }}@node0'
    line: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOLy67TsKpWE/PWY7sGt12L/Oh+wSmfpux/QmHdL198w {{ ansible_role_develop_conf_adminuser }}@node0"
    backup: true
- name: "== Setup user in RedHat == Install configure file in ~/.ssh/config"
  ansible.builtin.template:
    src: "config.j2"
    dest: "/home/{{ ansible_role_develop_conf_adminuser }}/.ssh/config"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    group: "{{ ansible_role_develop_conf_adminuser }}"
    mode: '0600'
- name: "== Setup user in RedHat == Create a directory if it does not exist ~/bin"
  ansible.builtin.file:
    path: "/home/{{ ansible_role_develop_conf_adminuser }}/bin"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    group: "{{ ansible_role_develop_conf_adminuser }}"
    state: directory
    mode: '0700'
- name: "== Setup user in RedHat == Copy maj.sh"
  ansible.builtin.copy:
    src: "{{ role_path }}/files/maj.sh"
    dest: "/home/{{ ansible_role_develop_conf_adminuser }}/bin/maj.sh"
    owner: "{{ ansible_role_develop_conf_adminuser }}"
    group: "{{ ansible_role_develop_conf_adminuser }}"
    mode: '0700'


# - name: Copy proxy.sh
#   ansible.builtin.copy:
#     src: "{{ role_path }}/files/proxy.sh"
#     dest: /etc/profile.d/proxy.sh
#     owner: root
#     group: root
#     mode: '0755'
# ## Java Cryptography Extension (JCE) Unlimited Strength Jurisdiction Policy Files
# - name: Recuperation du home de java
#   ansible.builtin.shell:
#     cmd: echo $(dirname $(readlink -f $(which java)))
#   register: my_output
#   changed_when: my_output.rc != 0
# - name: Setting host facts using home java
#   ansible.builtin.set_fact:
#     java_bin_path: "{{ my_output.stdout }}"
# - name: Copy local_policy.jar
#   ansible.builtin.copy:
#     src: "{{ role_path }}/files/UnlimitedJCEPolicyJDK8/local_policy.jar"
#     dest: "{{ java_bin_path }}/../lib/security"
#     owner: root
#     group: root
#     mode: '0644'
# - name: Copy US_export_policy.jar
#   ansible.builtin.copy:
#     src: "{{ role_path }}/files/UnlimitedJCEPolicyJDK8/US_export_policy.jar"
#     dest: "{{ java_bin_path }}/../lib/security"
#     owner: root
#     group: root
#     mode: '0644'
