ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9MaQPb4BwrHP7GMeciFr9XVyUfqm9wXWtppVx1Flil8TCMTGSrPxe7VRhAZ5752X0TIIsx1KfP9/O8OdBeWSpY6ZTynur6QoKPxOnM3Fe3aikGkAG7JXs7KAlJzWOG5J94H+4setB5EOSD6NKHZSt01+V9yunBdGOAOROrWVvbBRW+0xWEAMYKhjVjJtKRXmlo6iz+qAXXRpjpXjifFBQfi7iK8v5Gqx9bIs4rx4BDlM1xHrDVuoiCi8KLHnfdhdJl7novPq4ftOd66VCiM0Eoe1mvQZLPsBnortsQ82n7McTRQ7d6OKocNq3PkNR/7uoeM+6RTdvOQIcqRYXpRA5Dk06Uz7mhfTe+7jw0I0dLH21RkIPzKmOncJUFS8tf3welFjoIeDHG0MxuSbDED5hzNq4u8GIjP0Ott/QBCjpt299dWVYRCx5qJkOXru5nf2fqvOYZDymrjpFJfqkMPO4XlbdbD7q+6RWPc8tTlZJtyMFw2z+knZyamRN84d1u+s= {{ ansible_role_develop_conf_adminuser }}@node0